h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
}


h2 {
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    opacity: 0.8;
}

h3 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  opacity: 0.8;
}

img {
    width: 200px;
    height: 200px;

}

ul li {
    list-style-type: none;
}

body {
    /*background-color: blue;*/

}
body::after {
      content: "";
      opacity: 0.3;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: fixed;
      z-index: -1;
      background: url(../background_images/headphones.jpg)no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.album_css {

    float: left;
    padding-left: 20px;
}

.info {
    height: 150px;
    width: 200px;
    padding: 10px;
}

.info h2, h3 {
    opacity: 1;
    text-align: center;
}

.center_this {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.center {
    padding-left: 20px;
    text-align: center;
}

/*enlarges image when mouseover*/
.animate {
    opacity: .9;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;

}

.animate:hover {
    opacity: 1;
    -webkit-transform: scale(1.2) rotate(360deg);
    -moz-transform: scale(1.2) rotate(360deg);
    -o-transform: scale(1.2) rotate(360deg);
    -ms-transform: scale(1.2) rotate(360deg);
    transform: scale(1.2) rotate(360deg);
}

/*applies smoothing to transition between views*/
/*.view-slide-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;

  opacity:0.5;
  position:relative;
  opacity:0;
  top:10px;
  left:20px;
}*/

/*CSS trials */
/*.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}*/
